<html>
<style>
    h1{
        font-size:50pt;
    }
    h2{
        font-size: :40pt;
    }

table{
  
    width:100%;
  border-spacing: 10px;
}
th, td {
  padding: 40px;
  font-size: 25pt;
  border-spacing: :10px;
}
th {
  text-align: left;
}
</style>
<link rel="stylesheet" type="text/css" href="/stylesheets/reports.css">
<h1>ANAND INTERNATIONAL COLLEGE OF ENGINEERING</h1>
    <body>
        <h1>Detail Report</h1>
        <table class="table table-hover table-striped">
            <thead class="table-success">
               <table>                <tr>
                    <th>S.No.</th>
                    <th>Grievant</th>
                    <th>Grievance type</th>
                    <th>Grievnace Category</th>
                    <th>Grievance date</th>
                    <th>Subject</th>
                    <th>status</th>
                    <th>attended by</th>
                </tr> 
            <% for(var i=0; i<message.length; i++){ %>
               <tr>
                <td><%=i+1%></td>
                <td><%=message[i].Grievant%></td>
                <td><%=message[i].Gtype%></td>
                <td><%=message[i].Utype%></td>
                <td><%=message[i].time%></td>
                <td><%=message[i].subject%></td>
                <td><%=message[i].status%></td>
                <td><%=message[i].GCM%></td>

            </tr>
                <%}%>
            </table>


    </body>
</html>
